<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oizehsgl.sub.example.mapper.SimpleDemoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.oizehsgl.sub.example.entity.SimpleDemo">
        <result column="id" property="id" />
        <result column="create_user" property="createUser" />
        <result column="create_datetime" property="createDatetime" />
        <result column="update_user" property="updateUser" />
        <result column="update_datetime" property="updateDatetime" />
        <result column="delete_user" property="deleteUser" />
        <result column="delete_datetime" property="deleteDatetime" />
        <result column="deleted" property="deleted" />
        <result column="version" property="version" />
        <result column="name" property="name" />
        <result column="age" property="age" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user,
        create_datetime,
        update_user,
        update_datetime,
        delete_user,
        delete_datetime,
        deleted,
        version,
        name, age
    </sql>

</mapper>
